.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
}

.products {
  display: flex;
  margin: 100px 100px 100px 100px;
}

.product {
  min-width: 300px;
  min-height: 300px;
  border: 3px solid blue;
}

.product-image {
  max-height: 300px;
}

.btn {
  display: block;
  background-color: blue;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.btn-container {
  text-align: center;
}

.cart,
.create-product {
  min-width: 300px;
  min-height: 300px;
  border: 3px solid cyan;
}
